
<h2 class="city"><%= @place.city_name %></h2>

<br>
<br>
Learn more about this city <a href="https://www.cntraveler.com/search?q=<%=@place.formatted_name%>" target="_blank">here</a>
<br>
<br>
<% if authorized_to_edit?(@place) %>
<a href="/places/<%= @place.id %>/edit" class="button">Edit</a>
<form class="" action="/places/<%= @place.id %>" method="post">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" class="button" name="" value="Delete">
</form>

<%if !@place.visited %>
<form class="" action="/places/<%= @place.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<input type="hidden" name="visited" value="true">
<input type="submit" class="button" name="" value="Mark as Visited">
</form>

<%end%>

<% end %>
<br>
<a href="/users/<%=@place.user.id%>">Back to <%=@place.user.name%>'s Homepage</a>
